alembic==1.18.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
binaryornot==0.4.4
certifi==2026.1.4
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cookiecutter==2.6.0
greenlet==3.3.1
hupper==1.12.1
idna==3.11
Jinja2==3.1.6
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049096285/work
passlib==1.7.4
PasteDeploy==3.1.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
psycopg2-binary==2.9.11
pycparser==3.0
Pygments==2.19.2
PyJWT==2.11.0
pyramid==2.0
pyramid-mako==1.1.0
pyramid-retry==2.1.1
pyramid_debugtoolbar==4.12.1
pyramid_jinja2==2.10.1
pyramid_tm==2.6
python-dateutil==2.9.0.post0
python-slugify==8.0.4
PyYAML==6.0.3
requests==2.32.5
rich==14.3.2
-e git+https://github.com/ShivamKumar2401/pyramid2401-auth-project.git@f9bc2f385b108a24e582ed86b96e6c38d2123b92#egg=shiva&subdirectory=shiva
six==1.17.0
SQLAlchemy==2.0.46
text-unidecode==1.3
transaction==5.0
translationstring==1.4
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
venusian==3.1.1
waitress==3.0.2
WebOb==1.8.9
zope.deprecation==6.0
zope.interface==8.2
zope.sqlalchemy==4.1
