{% extends "base.jinja2" %}
{% block content %}
<html>
<head>
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1 class="fw-bold">Welcome to Product Management</h1>
            <p class="text-muted mt-3">
                Manage your products easily.  
                Add, view, update, and delete products with images.
            </p>

            <div class="mt-4">
                <a href="{{ request.route_url('product_list') }}" class="btn btn-outline-secondary btn-lg">
                    View Products
                </a>
            </div>
        </div>

        <div class="col-md-6 text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/3081/3081559.png"
                 class="img-fluid"
                 width="350"
                 alt="Products">
        </div>
    </div>
</div>

<footer class="bg-dark text-white text-center mt-5 py-3">
    © 2026 ProductApp | Built with Pyramid & Bootstrap
</footer>

</body>

</html>
{% endblock %}
