<html>
    <head>
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container mt-5">
    <div class="row align-items-center">
<footer class="bg-dark text-white text-center mt-5 py-3">
    © 2026 ProductApp | Built with Pyramid & Bootstrap
</footer>
</div>
</div>
</body>
</html>